/* styles.css */

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

/* Fondo */
.fondo-alfonbra-baño {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../image/background.jpg');
    background-size: cover;
    background-position: center;
    color: #ffd700;
    text-align: center;
    padding: 20px;
}

/* Galería */
.galeria-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px; /* Reducido el espacio entre productos */
}

/* Producto */
.producto {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: 200px; /* Ancho fijo para hacerlo cuadrado */
    height: 200px; /* Alto fijo para hacerlo cuadrado */
    margin: 10px;
    background-color: #000;
    color: #fff;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.producto:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.producto img {
    width: 100%;
    height: 100%; /* Ajustado para que sea un cuadrado */
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}



/* Ocultar descripción, precio y botón */
.descripcion p,
.precio,
.producto button {
    display: none;
}

/* Estilos del modal */
.producto-modal {
    display: none;
}

.producto:focus + .producto-modal {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.modal-content {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: 500px; /* Ancho fijo para hacerlo cuadrado */
    height: 500px; /* Alto fijo para hacerlo cuadrado */
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.close {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: #ffd700;
}

.modal-content img {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
}

.modal-content h2,
.modal-content p,
.modal-content .precio,
.modal-content button {
    margin: 10px 0;
}

.modal-content .precio {
    color: #ffd700;
    font-weight: bold;
}

/* Estilo mejorado del botón */
.modal-content button {
    background-color: #ffd700;
    color: #000;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modal-content button:hover {
    background-color: #e0bb00;
}
