/* styles.css */

body {
    margin: 0; /* Elimina el margen predeterminado del cuerpo */
}

.wrap {
    position: relative; /* Añade posicionamiento relativo */
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, rgb(0 0 0 /.5), rgb(0 0 0 / .5)), url('../image/background.jpg'); /* Ajusta la ruta según sea necesario */
    background-size: cover;
    background-position: center;
    color: white;
}

.wrap-texto {
    text-align: center;
    width: 50%;
}

.wrap-texto h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.wrap-texto p {
    font-size: 1.2em;
    max-width: 600px;
    margin: 0 auto;
}

/* Agrega estilos para el botón transparente con texto blanco y sin borde */
.button-overlay {
    position: absolute;
    top: 10px; /* Ajusta la distancia desde la parte superior */
    right: 10px; /* Ajusta la distancia desde la parte derecha */
    padding: 10px 20px;
    background-color: transparent; /* Fondo transparente del botón */
    color: #ffffff; /* Texto blanco del botón */
    border: none; /* Sin borde */
    border-radius: 5px; /* Esquinas redondeadas */
    cursor: pointer;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif; /* Fuente estilo antiguo */
    transition: color 0.3s; /* Transición de 0.3 segundos para el color del texto */
}

/* Efecto al pasar el mouse - Puedes personalizar según tus preferencias */
.button-overlay:hover {
    color: #ffd700; /* Texto blanco más intenso al pasar el mouse */
}



.carrito-overlay {
    position: absolute;
    top: 10px; /* Ajusta la distancia desde la parte superior */
    right: 250px; /* Ajusta la distancia desde la parte derecha */
    padding: 10px 20px;
    background-color: #ffffff; /* Color de fondo del botón */
    color: #000000; /* Color del texto del botón */
    border: none;
    cursor: pointer;
    font-size: 16px;
} 
